@import 'config/styles/theme';

.item {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid $background;
}

.item-container {
  display: flex;
  width: 100%;
}

.item-img-container {
  align-items: center;
  display: flex;
  margin-right: 16px;
  height: 180px;
  &:hover {
    cursor: pointer;
  }
}

.item-img {
  border-radius: 4px;
  width: 180px;
}

.item-info {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}

.item-product-info {
  &:hover {
    cursor: pointer;
  }
}

.item-address-info {
  margin-top: 16px;
  margin-right: 48px;
}

.item-price {
  text-align: left;
  margin-bottom: 32px;
  &::first-letter {
    margin-right: 16px;
  }
  & p {
    margin-right: 8px;
    display: inline;
  }
}

.item-title {
  text-align: left;
  width: 80%;
}

.item-city {
  text-align: center;
  color: $fontTertiary;
  margin-right: 40px;
}

@media (max-width: $breakpoint-mobile) {
  .item-title {
    width: 100%;
  }
  .item-info {
    flex-direction: column;
  }
  .item-city {
    text-align: left;
  }
}
