$primary: #EFE600;
$secondary: #3483FA;
$tertiary: #666666;
$arrowButtons: #000;
$background: #EEEEEE;
$backgroundList: #FFFFFF;

$fontPrimary: #333333;
$fontSecondary: #FFFFFF;
$fontTertiary: #999999;

$breakpoint-mobile: 30em;
