@import 'config/styles/theme';

.searchBar {
  padding: 12px 0;
  background-color: $primary;
  position: sticky;
  top: 0;
  z-index: 2;
}

.searchBar-logo-container {
  display: flex;
  &:hover {
    cursor: pointer;
  }
}

.searchBar-input-container {
  display: flex;
  align-items: center;
  height: 48px;
}

.searchBar-input {
  border: none;
  padding: 0 16px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100%;
  color: $fontTertiary;
  text-transform: capitalize;
}

.searchBar-button {
  border: none;
  padding: 0 16px;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
}
