@import '../theme';

.subtitle {
  font-size: 28px;
}

.paragraph {
  font-size: 16px;
}

.paragraph--small {
  font-size: 14px;
}

.paragraph--large {
  font-size: 24px;
}

.input-text {
  font-size: 18px;
}

.caption {
  font-size: 12px;
}

.price-large {
  font-size: 46px;
}

.text--bold {
font-weight: bold;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.text--justify {
  text-align: justify;
}
